/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100% !important;
        padding: 0 20px !important;
    }
    .col-1{
        width: 50% !important;
    }
    .col-3{
        width: 50% !important;
    }
    .col-4{
        width: 33.33% !important;
    }
    .col-4-2{
        width: 40% !important;
    }
    .col-4-1{
        width: 40% !important;
    }
    .col-2-5{
        width: 20% !important;
        padding: 10px 0px 0px !important;
    }
    .col-8{
        width: 60% !important;
    }
    nav ul li a {
        font-size: 13px !important;
        padding: 7px 20px !important;
    }
    /* banner section css */
    .banner-section {
        padding-bottom: 20px !important;
    }
    .banner-content h1 {
        font-size: 40px !important;
        line-height: 1 !important;
        margin: 9px 0px !important;
    }
    .banner-content h1 span {
        font-size: 40px !important;
        line-height: 1.6 !important;
    }
    .banner-content p {
        font-size: 14px !important;
        line-height: 1.7 !important;
        margin-bottom: 20px !important;
    }
    .btn-info {
        font-size: 16px !important;
        padding: 7px 30px !important;
    }
    .feature-inner h4 {
        font-size: 22px !important;
    }
    .courses-inner h2 {
        font-size: 17px !important;
        line-height: 1.6 !important;
        margin: 4px 0px 5px !important;
    }
    .courses-inner p {
        margin-bottom: 14px !important;
    }
    .courses-inner ul {
        margin-top: 19px !important;
    }
    .testimonial-section p {
        font-size: 15px !important;
    }
    footer ul li a {
        font-size: 14px !important;
    }
    .footer-inner {
        padding-top: 32px !important;
    }
}
  
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: 100% !important;
        padding: 0 20px !important;
        justify-content: space-around;
    }
    .col-1{
        width: 100% !important;
    }
    .col-3{
        width: 100% !important;
    }
    .col-4{
        width: 100% !important;
    }
    .col-4-2{
        width: 100% !important;
    }
    .col-4-1{
        width: 50% !important;
    }
    .col-2-5{
        width: 50% !important;
        padding: 20px 14px 0px !important;
    }
    .col-8{
        width: 100% !important;
    }
    .logo {
        width: 60% !important;
        padding-bottom: 20px !important;
        margin: auto !important;
    }
    nav {
        width: 100% !important;
    }
    nav ul li a {
        font-size: 16px !important;
        padding: 7px 12px !important;
    }
    /* banner section css */
    .banner-section {
        padding-bottom: 20px !important;
    }
    .banner-content h1 {
        font-size: 22px !important;
        line-height: 1 !important;
        margin: 9px 0px !important;
    }
    .banner-content h1 span {
        font-size: 22px !important;
        line-height: 1.6 !important;
    }
    .banner-content p {
        font-size: 12px !important;
        line-height: 1.7 !important;
        margin-bottom: 10px !important;
    }
    .btn-info {
        font-size: 13px !important;
        padding: 6px 20px !important;
    }
    .feature-inner h4 {
        font-size: 16px !important;
    }
    .courses-inner h2 {
        font-size: 15px !important;
        line-height: 1.6 !important;
        margin: 4px 0px 5px !important;
    }
    .courses-inner p {
        margin-bottom: 16px !important;
    }
    .courses-inner ul {
        margin-top: 19px !important;
    }
    .logo-inner {
        text-align: center !important;
        padding-right: 20px !important;
    }
    .logo-inner img {
        width: 30% !important;
    }
    .testimonial-section p {
        font-size: 14px !important;
    }
    .footer-inner {
        padding-top: 30px !important;
    }
    
}
  
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 100% !important;
        padding: 0 20px !important;
    }
    .col-1{
        width: 100% !important;
    }
    .col-3{
        width: 100% !important;
    }
    .col-4{
        width: 100% !important;
    }
    .col-4-2{
        width: 100% !important;
    }
    .col-4-1{
        width: 50% !important;
    }
    .col-2-5{
        width: 50% !important;
    }
    .col-8{
        width: 100% !important;
    }
    /* header section css */
    .logo {
        width: 60% !important;
        padding-bottom: 20px !important;
        margin: auto !important;
    }
    nav {
        width: 100% !important;
    }
    nav ul li a {
        font-size: 11px !important;
        padding: 7px 8px !important;
    }
    /* banner section css */
    .banner-section {
        padding-bottom: 20px !important;
    }
    .banner-content h1 {
        font-size: 22px !important;
        line-height: 1 !important;
        margin: 9px 0px !important;
    }
    .banner-content h1 span {
        font-size: 22px !important;
        line-height: 1.6 !important;
    }
    .banner-content p {
        font-size: 12px !important;
        line-height: 1.7 !important;
        margin-bottom: 10px !important;
    }
    .btn-info {
        font-size: 13px !important;
        padding: 6px 20px !important;
    }
    .feature-inner h4 {
        font-size: 16px !important;
    }
    .courses-inner h2 {
        font-size: 15px !important;
        line-height: 1.6 !important;
        margin: 4px 0px 5px !important;
    }
    .courses-inner p {
        margin-bottom: 16px !important;
    }
    .courses-inner ul {
        margin-top: 19px !important;
    }
    .logo-inner {
        text-align: center !important;
        padding-right: 20px !important;
    }
    .logo-inner img {
        width: 30% !important;
    }
    .testimonial-section p {
        font-size: 10px !important;
    }
    .footer-inner {
        padding-top: 30px !important;
    }
    .heading h1 {
        font-size: 35px !important;
        line-height: 1 !important;
    }
    footer p {
        font-size: 14px !important;
    }
    footer ul li a {
        font-size: 14px !important;
    }
    
}